{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="Discover the University of Central Punjab, a leading private institution located in Lahore, Pakistan. Established in 2002 and recognized by the Higher Education Commission, UCP offers a variety of academic programs through its faculties of Engineering, Arts and Social Sciences, Pharmacy, Law, Media and Communication Studies, Life Sciences, and Information Technology. With a state-of-the-art campus and a well-stocked library, UCP is the perfect choice for students looking for a top-quality education."
    />
    <meta
      name="keywords"
      content="University of Central Punjab, UCP, private university, Lahore, Pakistan, Higher Education Commission, HEC, academic programs, faculties, Engineering, Arts and Social Sciences, Pharmacy, Law, Media and Communication Studies, Life Sciences, Information Technology, campus, library, education"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="index, follow" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>
    <script src="{%static 'js/init-alpine.js'%}"></script>
    {% tailwind_css %}
    <title>University of Central Punjab</title>
  </head>
  <body>
    <header>{% include 'aside.html' %} {% include 'mobileAside.html' %}</header>

    <div class="flex flex-col flex-1">
      {%include 'navbar.html'%}
      <main class="overflow-y-auto pb-16 h-full">
        <!-- Remove everything INSIDE this div to a really blank page -->
        <div class="container grid px-6 mx-auto">
          <h2
            class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
          >
            Blank
          </h2>
        </div>
      {% block content %} {% endblock %}
      </main></div>
  </body>
</html>
